@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  /* font-family: "Poppins", sans-serif; */
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.main{
  width: 100%;
  height: 100%;
}
Holiday{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow-y: hidden;
  position: relative;
}
/* .Advert-container{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,.4);
} */

.slick-slide>div{
  /* margin: 10px; */
  padding: 10px;
}


/* Custom styles for slider buttons */
.slick-next {
  width: 45px; /* Adjust width as needed */
  height: 45px; /* Adjust height as needed */
  /* background-color: rgb(74,165,210); Button background color */
 /* Button text color */
 background-color: rgb(74,165,210);
  border-radius: 20%; /* Makes the buttons circular */
  margin-right: -6%;
}
.slick-next:hover{
  background-color: rgb(74,165,210);
}

.slick-prev {
  width: 45px; /* Adjust width as needed */
  height: 45px; /* Adjust height as needed */
  background-color: rgb(74,165,210); /* Button background color */
  color: white; /* Button text color */
  border-radius: 20%;/* Makes the buttons circular */
  margin-left: -7%;
}
.slick-prev:hover{
  background-color: rgb(74,165,210);
}
/* CSS for slider buttons container */
.slider-buttons-container {
  position: absolute;
  top: 10px; /* Adjust top positioning as needed */
  left: 10px; /* Adjust left positioning as needed */
  z-index: 999; /* Ensure the buttons appear above the slider */
}



