.explore-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  position: relative;

  .nature,
  .cities {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    // background-color: grey;
    // z-index: -1;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      span {
        font-size: 13.53px;
        font-weight: 700;
        line-height: 20.3px;
        color: #fffdfd;
      }
      h2 {
        font-size: 37.59px;
        font-weight: 700;
        line-height: 53.42px;
        color: #ffffff;
      }
      button {
        color: #ffffff;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        margin-top: 14px;
      }
    }
  }
  .nature {
    background-image: url('img/exploreNature.jpeg');
  }
  .cities {
    background-image: url('img/exploreCities.jpeg');
  }
  .nature::after,
  .cities::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
