.Advert-container{
    height: 516px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/5b421e476d8d635fe348aad29a302261.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    .content{
        margin: auto;

        h1{
            font-size: 30px;
            line-height: 45px;
            font-weight: 600;
            color: #FFFFFF;
            margin: 25px 0;
        }
        p{
            font-size: 13.72px;
            line-height: 22.3px;
            font-weight: 400;
            color: #FFFFFF;
            margin-bottom: 45px;
        }
        button{
            color: #FFFFFF;
            background-color: #4aa5d2;
            border: 1px solid white;
            border-radius: 5px;
            padding: 10px;
            margin-top: 14px;
            display: flex;
            align-items: center;
        }
    }
    .video{
        background-image: url('img/048ebaec8f8a6d030d2139f61943470c.png');
        width: 310px;
        height: 384px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 10px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
}