.destn-card {
    width: 302px;
    height: 332px;
    background-color: white;
    padding: 6px;
    border-radius: 12px;

    .destination-image {
        border-radius: 12px;
        margin: auto;
        width: 333px;
        height: 190px;
    }

    .destination-info {
        margin: 15px 10px;
        h2 {
            font-size: 18.1px;
            line-height: 18.1px;
            font-weight: 600;
            color: #2D3134;
            margin-bottom: 8px;

        }
        p {
            font-size: 10.56px;
            line-height: 10.56px;
            font-weight: 400;
            color: #5B5F62;
        }
    }
    .bottom-section {
        display: flex;
        justify-content: space-between;
        margin: 40px 10px;
        .price {
            p {
                font-size: 18.1px;
                font-weight: 400;
                line-height: 15.09px;
                color: #5B5F62;
            }
            span {
                font-size: 20.1px;
                font-weight: 600;
                line-height: 15.09px;
                color: #2D3134;
            }
        }
        button {
            background-color: #4AA5D2;
            padding: 10px;
            font-size: 10.56px;
            line-height: 10.56px;
            color: #FFFFFF;
            font-weight: 400;
            border-radius: 14px;
        }
    }
}
