.trend-vac-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .trend-content{
        margin: 50px 0;
        width: 97%;
        // width: auto;
        // display: flex;
        // flex-direction: column;
        text-align: center;
        // justify-content: space-between;
        // align-items: center;
        // padding: 20px 180px;
        // background-color: aquamarine;

        .heading{
            padding: 20px 180px;
            h5 {
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;
                color: #4aa5d2;
                // margin: 7px;
                letter-spacing: 10%;
            }
            h1 {
                font-weight: 700;
                font-size: 39px;
                line-height: 58px;
                color: #181E4B;
                // margin: 8px;
            }
        }
        .trend-card-container{
            padding: 20px 50px;
        }
    }
}


