.book-main{
    display: flex;
    flex-direction: column;
    align-items: center;

    .book-card-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    
        .vac-card-row{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    button{
            display: flex;
            color: #1A1A1A;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            border: 1px solid #D8D8D8;
            border-radius: 40px;
            padding: 14px 20px;
            margin-top: 30px;
            display: flex;
            align-items: center;
    }
}
