.newList-container{
    background-image: url('img/new-listing-hero-back.jpeg');
    height: 500px;
    background-size: 100% 100%;
    width: 100%;
    padding-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading-cont{
        z-index: 1;
        position: relative;
        padding-top: 60px;
    }
    .btn-grp{
        z-index: 1;
        background-color: #FFFFFF;
        border-radius: 6px;
        // padding: 18px;
        position: relative;
        top: 175px;
        display: flex;

        .inp-grp{
            display: flex;
            align-items: center;

            .inp{
                input{
                    color: black;
                    font-size: small;
                    &::placeholder {
                        font-style: italic;
                        color: #778088;
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 500;
                        cursor: pointer;
    
                        .noBorder:focus{
                            outline: none; /* Remove default focus outline */
                            border-color: #4AA5D2; /* Set border color when focused */
                        }
                    }
                }
                input:focus {
                    outline: none; /* Remove default focus outline */
                    // border-color: #4AA5D2; /* Set border color when focused */
                  }
            }
            
        }
        button{
            color: #FFFFFF;
            background-color: #4AA5D2;
            // border-radius: 30px;
            padding: 8px 28px;
            
        }
    }
    

}
.newList-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000000;
}